header{
    font-family: "sans-serif";
    background-color: #FFA07A;
    text-align: left;
    height: 80px;
}

h1{
    font-size: 46px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight:bold;
}

ul{
    font-size: 10px;
    font-weight: lighter;
    float:right;
    list-style:none;
}

a{
    text-decoration: none;
}

p{
    font-size: 16px;
    font-weight: lighter;
}

body{
    font-family: "sans-serif";
    background-color: #FFEBCD;
    font-weight: normal;
}

.name{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nickname{
    display: block;
    margin-bottom: 50px;
}

.email{
    display: block;
    margin-bottom: 50px;
}

.phone{
    display: block;
    margin-bottom: 50px;
}

.sex{
    display: block;
    margin-bottom: 50px;
}

.birth{
    display: block;
    margin-bottom: 35px;
}

.job{
    display: block;
    margin-bottom: 50px;
}

.password{
    display: block;
    margin-bottom: 50px;
}

.password2{
    display: block;
    margin-bottom: 50px;
}


footer{
    font-family: "sans-serif";
    background-color: #FFA07A;
    height: 80px;
    text-align: left;
    margin-top: 70px;
}