header{
    font-family: "sans-serif";
    background-color: #FFA07A;
    text-align: left;
    height: 80px;
}

h1{
    font-size: 46px;
    font-weight: bold;
}


ul{
    font-size: 10px;
    font-weight: lighter;
    float:right;
    list-style:none;
}

a{
    text-decoration: none;
}

.create{
    padding-top: 30px;
    padding-bottom: 75px;
}

body{
    float: none;
    font-family: "sans-serif";
    background-color: #FFEBCD;
    font-weight: normal;
    text-align: center;
}

img{
    width:400px;
    height:260px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.big{
    font-size: 24px;
}


.txt{
    font-size:16px;
}


.result{
    padding-bottom: 60px;
}


.analysis{
    padding-bottom: 60px;
}

button{
    background-color: #FFA07A;
    border: 1px solid #666;
    padding: 6px;
}

footer{
    font-family: "sans-serif";
    background-color: #FFA07A;
    height: 80px;
    text-align: left;
}